@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

.App{
  font-family: 'Montserrat', sans-serif;
  margin-top:1em;
}

h1{
  color:#333333;
  font-weight: 600;
}
h4{
  color:#333333;
  font-weight: 400;
  margin-bottom:1em;
}
button{
  margin:0 .5em;
}