@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

.App{
  font-family: 'Montserrat', sans-serif;
  margin-top:1em;
}



h1{
  color:#333333;
  font-weight: 600;
}
h4{
  color:#333333;
  font-weight: 400;
  margin-bottom:1em;
}
button{
  margin:0 .5em;
}
.preview-container{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  margin:5em;
}
.preview-header{
  margin:1em 1em 2em 1em;
}
.preview-body{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
}

.logo{
  font-weight:600;
}
#dropdown-basic-button{
  padding:1em 2em;
  
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  
}

#dropdown-basic-button:hover {
  border-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #33333;
  transform: translateY(-7px);
  animation: shadow-pulse 1s ease-out infinite;
}


@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
     }
     100% {
          box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
     }
}

.search-container{
  display:flex;
  flex-direction:column;
  align-items: center;
}
.suggestion-list{
  min-width: 300px;
  margin-right:5%;
}